<h1 mat-dialog-title *ngIf="!editMode">{{ 'add-person' | translate }}</h1>
<h1 mat-dialog-title *ngIf="editMode">{{ 'edit-person' | translate }}</h1>
<form id="people-add-dialog" mat-dialog-content [formGroup]="form" (ngSubmit)="onSaveClick()">
  <mat-form-field class="display-none">
    <mat-label>{{ 'id' | translate }}</mat-label>
    <input matInput formControlName="id" type="number" min="0" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'fname' | translate }}</mat-label>
    <input matInput  formControlName="firstName">
    <mat-error class="alert alert-danger custom-alert" *ngIf="form.controls.firstName.hasError('required')">
      {{ 'fnamereq' | translate }}
    </mat-error>
  </mat-form-field>

  
  <mat-form-field>
    <mat-label>{{ 'lname' | translate }}</mat-label>
    <input matInput  formControlName="lastName">
    <mat-error class="alert alert-danger custom-alert" *ngIf="form.controls.lastName.hasError('required')">
      {{ 'lname-req' | translate }}
    </mat-error>
  </mat-form-field>

  
  <mat-form-field>
    <mat-label>{{ 'mobile' | translate }}</mat-label>
    <input matInput  formControlName="mobile">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'email' | translate }}</mat-label>
    <input matInput  formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'birth-date' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'groups' | translate}}</mat-label>
    <mat-select formControlName="groups" multiple>
        <mat-option *ngFor="let g of groupsList" [value]="g.id">
            {{g.name}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="modal-actions-container">
    <button class="mat-raised-button cancel-btn" (click)="onNoClick()">{{ 'cancel' | translate }}</button>
    <button class="mat-raised-button save-btn" type="submit">{{ 'save' | translate }}</button>
  </div>

</form>
