<div class="container-fluid">
    <!-- Content here -->
    <div class="register-container">
        <div class="col-12 d-flex">
            <a title="Home" id="home-logo" class="brand mx-auto"><img
                    islocal="true" alt="chmeetings_logo"
                    src="/assets/images/public-page-logo.png"></a>
        </div>

        <mat-tab-group mat-stretch-tabs class="stretched-tabs mat-elevation-z4">
            <mat-tab label="Demo">
                <div class="ch-background-gray-color">
                    <div class="col-12 pt-2">{{ 'demo-reg-paragraph' | translate }}</div>
                    <app-register-form [isDemo]="true">
                    </app-register-form>
                </div>
            </mat-tab>
            <mat-tab label="Permanent">
                <div class="ch-background-gray-color">
                    <div class="col-12 pt-2">{{ 'permanent-reg-paragraph' | translate }}</div>
                    <app-register-form [isDemo]="false">
                    </app-register-form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>