<mat-nav-list>
    <a mat-list-item routerLink="/dashboard" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Dashboard</span>
    </a>
    <a mat-list-item routerLink="/people" (click)="onSidenavClose()">
        <mat-icon>person</mat-icon> <span class="nav-caption">People</span>   
    </a>
    <a mat-list-item routerLink="/groups" (click)="onSidenavClose()">
        <mat-icon>groups</mat-icon><span class="nav-caption">Groups</span>
    </a>
</mat-nav-list>