<mat-nav-list>

    <div id="accountlogo" class="d-flex w-100 accountlogo pb-4"><a class="account-name-image ng-star-inserted"><img
                class="img-church-logo" src="https://stage.chmeetings.com/assets/images/church-default-photo.png"></a>
        <div class="d-flex flex-column mx-2 px-1"><span class="user-name">Hello {{CurrentMemberFullName}}</span><span
                class="church-name">{{CurrentChurchServiceName}}</span></div>
    </div>
    <a [routerLinkActive]="" [ngClass]="rla.isActive?'active':''" #rla="routerLinkActive" mat-list-item
        routerLink="/dashboard" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">{{ 'dashboard' | translate }}</span>
    </a>
    <a [routerLinkActive]="" [ngClass]="rla2.isActive?'active':''" #rla2="routerLinkActive" mat-list-item
        routerLink="/people" (click)="onSidenavClose()">
        <mat-icon>person</mat-icon> <span class="nav-caption">{{ 'people' | translate }}</span>
    </a>
    <a [routerLinkActive]="" [ngClass]="rla3.isActive?'active':''" #rla3="routerLinkActive" mat-list-item
        routerLink="/groups" (click)="onSidenavClose()">
        <mat-icon>groups</mat-icon><span class="nav-caption">{{ 'groups' | translate }}</span>
    </a>
</mat-nav-list>