@import "../../shared/variables";
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}
a.active{
    color: $secondry;
    text-shadow: 1px 1px grey;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 3px;
}

mat-icon{
    color: white;
}

.logo{
    width: 155px;
}

.example-toolbar-mobile {
    position: fixed;
    z-index: 2;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}


