<mat-toolbar [class.example-toolbar-mobile]="mobileQuery.matches" color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()"><mat-icon>menu</mat-icon></button>
    </div>
    <div>
        <a routerLink="/dashboard"><img class="logo" src="https://app.chmeetings.com/assets/images/logo-white-hight-45.png"></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a [routerLinkActive]="" [ngClass]="rla.isActive?'active':''" #rla="routerLinkActive" routerLink="/dashboard">{{ 'dashboard' | translate }}</a>
            </li>
            <li>
                <a [routerLinkActive]="" [ngClass]="rla2.isActive?'active':''" #rla2="routerLinkActive" routerLink="/people">{{ 'people' | translate }}</a>
            </li>
            <li>
                <a [routerLinkActive]="" [ngClass]="rla3.isActive?'active':''" #rla3="routerLinkActive" routerLink="/groups">{{ 'groups' | translate }}</a>
            </li>
        </ul>
    </div>
</mat-toolbar>