<h1 mat-dialog-title>{{ groupName }}</h1>

<div id="groups-view-dialog" class="view-dialog" mat-dialog-content>

  <div class="row">
    <mat-label>{{ 'leader' | translate }}</mat-label>
    <mat-form-field>
      <mat-select [(ngModel)]="data.leader_id" [ngClass]="data.leader_id?'':'display-none'" disabled>
        <mat-option *ngFor="let person of peopleList" [value]="person.id">
          {{person.firstName}} {{person.lastName}}
        </mat-option>
      </mat-select>
      <p *ngIf="!data.leader_id" class="empty-value">ــــــــ</p>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-label>{{ 'desc' | translate }}</mat-label>
    <div [ngClass]="data.description?'':'display-none'" matInput>{{data.description}}</div>
    <p *ngIf="!data.description" class="empty-value">ــــــــ</p>
  </div>
</div>
<div style="justify-content: space-around; display: flex; margin-top:1em;">
  <button class="mat-raised-button cancel-btn" (click)="onNoClick()">{{ 'cancel' | translate }}</button>
  <button class="mat-raised-button save-btn" (click)="onEditClick()">{{ 'edit' | translate }}</button>
</div>