  @import "../../shared/variables";
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  ::ng-deep  .mat-button.mat-primary:hover, .mat-icon-button.mat-primary:hover, .mat-stroked-button.mat-primary:hover{
    background-color: $primary !important;
    color: white !important;
  }

  ::ng-deep .mat-stroked-button:not([disabled]){
    border-color: $primary !important;
  }

  .people-header{
    display: flex;
    place-content: space-between;
  }

  .add-person-container{
    align-self: center;
  }