<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
        <app-header (sidenavToggle)="snav.toggle()"></app-header>

        <mat-sidenav-container class="example-sidenav-container"
                            [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="mobileQuery.matches ? 'false' : 'true'">
            <app-sidenav-list ></app-sidenav-list>
            <!-- <app-sidenav-list (sidenavClose)="snav.close()"></app-sidenav-list> -->
        </mat-sidenav>
    
        <mat-sidenav-content>
            <main>
                <!-- <ng-content></ng-content> -->
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
        </mat-sidenav-container>
</div>