.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

// .layout-wrapper{
//     height: 100%;
// }

// .flex-wrapper{
//     height: 100%;
// }