<h1 mat-dialog-title>{{ model.personName }}</h1>
<div id="people-view-dialog" class="view-dialog" mat-dialog-content>

  <div class="row">
    <mat-label>{{ 'mobile' | translate }}</mat-label>
    <div [ngClass]="model.peopleData.Mobile?'':'display-none'">
      {{model.peopleData.Mobile}}
    </div>
    <p *ngIf="!model.peopleData.Mobile" class="empty-value">ــــــــ</p>
  </div>

  <div class="row">
    <mat-label>{{ 'email' | translate }}</mat-label>
    <div [ngClass]="model.peopleData.Email?'':'display-none'">{{model.peopleData.Email}}</div>
    <p *ngIf="!model.peopleData.Email" class="empty-value">ــــــــ</p>
  </div>

  <div class="row">
    <mat-label>{{ 'birth-date' | translate }}</mat-label>
    <div [ngClass]="model.peopleData.Birthdate?'':'display-none'">{{model.peopleData.Birthdate | customDate}}</div>
    <p *ngIf="!model.peopleData.Birthdate" class="empty-value">ــــــــ</p>
  </div>

</div>

<div style="justify-content: space-around; display: flex; margin-top:1em;">
  <button class="mat-raised-button cancel-btn" (click)="onNoClick()" type="button">{{ 'cancel' | translate }}</button>
  <button class="mat-raised-button save-btn" (click)="onEditClick()">{{ 'edit' | translate }}</button>
</div>