<h1 mat-dialog-title >{{ personName }}</h1>
<div id="people-view-dialog" mat-dialog-content>
  

  <mat-label>{{ 'mobile' | translate }}</mat-label>
  <mat-form-field>
    <input [ngClass]="peopleData.mobile?'':'display-none'" matInput [(ngModel)]="peopleData.mobile" disabled>
    <p *ngIf="!peopleData.mobile" class="empty-value">ــــــــ</p>
  </mat-form-field>

  <mat-label>{{ 'email' | translate }}</mat-label>
  <mat-form-field>
    <input  [ngClass]="peopleData.email?'':'display-none'" matInput  [(ngModel)]="peopleData.email" disabled>
    <p *ngIf="!peopleData.email" class="empty-value">ــــــــ</p>
  </mat-form-field>

  <mat-label>{{ 'birth-date' | translate }}</mat-label>
  <mat-form-field>
    <input [ngClass]="peopleData.birthDate?'':'display-none'" matInput  [(ngModel)]="peopleData.birthDate" type="date" disabled>
    <p *ngIf="!peopleData.birthDate" class="empty-value">ــــــــ</p>
  </mat-form-field>

  <mat-label>{{'groups' | translate}}</mat-label>
  <mat-form-field>
    <mat-select [ngClass]="groupsExists?'':'display-none'" [(ngModel)]="peopleData.groups" multiple disabled>
        <mat-option *ngFor="let g of groupsList" [value]="g.id">
            {{g.name}}
        </mat-option>
    </mat-select>
    <p *ngIf="!groupsExists" class="empty-value">ــــــــ</p>
  </mat-form-field>
</div>

<div style="justify-content: space-around; display: flex; margin-top:1em;">
  <button class="mat-raised-button cancel-btn" (click)="onNoClick()">{{ 'cancel' | translate }}</button>
  <button class="mat-raised-button save-btn" (click)="onEditClick()">{{ 'edit' | translate }}</button>
</div>
