<form id="register-form" class="container" mat-dialog-content [formGroup]="model.form" (ngSubmit)="onSaveClick()">

    <div class="col-12 info-fields" *ngIf="!isDemo">
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-form-field>
                    <mat-label>{{ 'country' | translate }}</mat-label>
                    <mat-select formControlName="CountryId">
                        <mat-option *ngFor="let country of model.countries" [value]="country.Key">
                            {{country.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="col-12 info-fields mb-3">

        <div class="row" *ngIf="!isDemo">
            <div class="col-12 col-md-12">
                <mat-form-field>
                    <mat-label>{{ 'ch-min-name' | translate }}</mat-label>
                    <input matInput formControlName="MeetingName">

                    <mat-error class="custom-alert" *ngIf="model.form.controls.MeetingName.hasError('required')">
                        {{ 'ch-min-namereq' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-6">
                <mat-form-field>
                    <mat-label>{{ 'fname' | translate }}</mat-label>
                    <input matInput formControlName="FirstName">

                    <mat-error class="custom-alert" *ngIf="model.form.controls.FirstName.hasError('required')">
                        {{ 'fnamereq' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-6">
                <mat-form-field>
                    <mat-label>{{ 'lname' | translate }}</mat-label>
                    <input matInput formControlName="SecondName">

                    <mat-error class="custom-alert" *ngIf="model.form.controls.SecondName.hasError('required')">
                        {{ 'lname-req' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="!isDemo">
            <div class="col-12 col-md-12">
                <mat-form-field>
                    <mat-label>{{ 'mobile-phone' | translate }}</mat-label>
                    <input appOnlyNumber matInput formControlName="Mobile" maxlength="50">
                    <mat-error class="custom-alert" *ngIf="model.form.controls.Mobile.hasError('pattern')">
                        {{ 'invalid-mob' | translate }}
                    </mat-error>
                    <mat-error class="custom-alert"
                        *ngIf="model.form.controls.Mobile.hasError('minlength') && !model.form.controls.Mobile.hasError('pattern')">
                        {{ 'mob-min-error' | translate }}
                    </mat-error>

                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <mat-form-field>
                    <mat-label>{{ 'email' | translate }}</mat-label>
                    <input matInput formControlName="LoginUserEmail">

                    <mat-error class="custom-alert" *ngIf="model.form.controls.LoginUserEmail.hasError('required')">
                        {{ 'emailreq' | translate }}
                    </mat-error>

                    <mat-error class="custom-alert" *ngIf="model.form.controls.LoginUserEmail.hasError('email')">
                        {{ 'emailinvalid' | translate }}
                    </mat-error>

                    <mat-error class="custom-alert" *ngIf="model.form.controls.LoginUserEmail.errors?.isAlreadyExists">
                        {{ 'email-already-exists' | translate }}
                    </mat-error>

                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <mat-form-field>
                    <mat-label>{{ 'pass' | translate }}</mat-label>
                    <input matInput [type]="model.hidePass ? 'password' : 'text'" formControlName="LoginUserPassword">
                    <mat-icon class="clickable-link" matSuffix (click)="model.hidePass = !model.hidePass">
                        {{model.hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint class="custom-hint">{{ 'pass-min-error' | translate }}</mat-hint>

                    <mat-error class="custom-alert" *ngIf="model.form.controls.LoginUserPassword.hasError('required')">
                        {{ 'passreq' | translate }}
                    </mat-error>

                    <mat-error class="custom-alert" *ngIf="model.form.controls.LoginUserPassword.hasError('minlength')">
                        {{ 'pass-min-error' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="row bg-white">
        <div *ngIf="!isDemo" id="divRegistrationPolicySection" class="registration-info col-sm-12"><span> {{ 'by-clicking-signup' | translate }} <a>{{ 'terms' | translate }} &amp;
                    {{ 'conditions' | translate }} </a>{{ 'and' | translate }}<a> {{ 'privacy-policy' | translate }}</a>. </span></div>
        <div id="divRegistrationSignUp" class="w-100 form-group col-12 p-md-0 mt-3 mb-0">
            <button type="submit" id="createChurchService" [disabled]="model.disableBtn"
                class="sln-createChurchService btnSubmit btn btn-primary btn-lg btn-block">{{ 'sign-up' | translate }}
            </button>
        </div>

        <div  class="col-12 ng-star-inserted">
            <div  class="already-registered">{{ 'already-signed-up' | translate }} <a class='login-here-btn'
                (click)="goToLoginForm()">{{ 'login-here' | translate }}</a></div>
        </div>

    </div>
</form>