@import "../../app/shared/styles/variables";

  ::ng-deep  .mat-button.mat-primary:hover, .mat-icon-button.mat-primary:hover, .mat-stroked-button.mat-primary:hover{
    background-color: $primary !important;
    color: white !important;
  }

  ::ng-deep .mat-stroked-button:not([disabled]){
    border-color: $primary !important;
  }

 .people-header{
    display: flex;
    place-content: space-between;
    margin-bottom: -45px;
    margin-top: 10px;
  }

  .add-person-container{
    align-self: center;
  }
  