<app-layout>
  <div class="mat-cards-container">
    <mat-card class="example-card square" routerLink="/people">
      <mat-card-header class="content">
        <mat-card-title>{{peopleCount}}</mat-card-title>
        <mat-card-subtitle>{{ 'people' | translate }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card square" routerLink="/groups">
      <mat-card-header class="content">
        <mat-card-title>{{groupsCount}}</mat-card-title>
        <mat-card-subtitle>{{ 'groups' | translate }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <h3 class="m-half-em"><span>{{ 'birthdays-this-month' | translate }}</span></h3>

  <app-list-people [peopleDataSource]="peopleBirthDateDataSource" class="m-half-em" [isPeoplePage]="isPeoplePage"></app-list-people>
</app-layout>
