<div class="ch-container mt-2 mt-md-3 col-lg-0">
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <div class="mat-cards-container" >
            
            <mat-card class="example-card square" *ngFor="let ChurchServiceCard of model.ChurchServiceCards; index as i;">
              <mat-card-header class="content">
                <mat-card-title>{{ChurchServiceCard.CardValue}}</mat-card-title>
                <mat-card-subtitle>{{ ChurchServiceCard.CardTitle }}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">

          <div class="mat-cards-container">
            <mat-card class="example-card square" *ngFor="let ProgressCard of model.ProgressCards; index as i;">
              <mat-card-header class="content">
                <mat-card-title>{{ProgressCard.CardValue}}</mat-card-title>
                <mat-card-subtitle>{{ ProgressCard.CardTitle }}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>