/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { 
    margin: 0;
    height: 100%;
}

.custom-alert{
    font-size: 0.7em;
    padding: 5px;
    margin-bottom: 0em !important;
    margin-top: -1em;
    color: #f44336;
  }