/* You can add global styles to this file, and also import other style files */

@import "../src/app/shared/styles/variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { 
    margin: 0;
    height: 100%;
}

.custom-alert{
    font-size: 0.7em;
    padding: 5px;
    margin-bottom: 0em !important;
    margin-top: -1em;
    color: #f44336;
}

.mat-form-field {
    display: unset !important;
}

.mat-dialog-content {
    background: #ecefef;
    padding-top: 1em!important;
    border-top: 0.5px solid #cfd8d8;
    border-bottom: 0.5px solid #cfd8d8;
}

.cancel-btn{
    color: $primary !important;
    background: transparent !important;
    border:1px solid $primary !important;
    min-width: 85px !important;
}

.cancel-btn:hover{
    color: white !important;
    background: $primary !important;
}

.save-btn{
    color: white !important;
    background: $primary !important;
    min-width: 85px !important;
}

.save-btn:hover{
    color: #fff !important;
    background-color: #0f7e89 !important;
    border-color: #0e747d !important;
}

.display-none{
    display: none !important;
}

.empty-value{
    margin-top: 0;
    margin-bottom: 0rem;
}

.delete-btn{
    color: white !important;
    min-width: 85px !important;
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}

.delete-btn:hover{
    color: #fff !important;
    background-color: #c82333!important;
    border-color: #bd2130!important;
}

.delete-mat-dialog-title{
    display: flex !important;
    align-items: center !important;
}

.clickable-link{
    color: $primary !important;
    text-decoration: none;
    cursor: pointer;
}

#people-view-dialog .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-select-disabled .mat-select-value {
    color: black !important;
}

#people-view-dialog mat-label {
    color: black !important;
    font-weight: 500 !important;
    margin-bottom: -0.7em !important;
    display: flex !important;
}

#people-view-dialog .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline{
    display: none!important;
}