.info-fields {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
}

#createChurchService {
    padding: 8px;
    font-size: 1.25rem;
    font-weight: 700;
}

.registration-info{
    text-transform: capitalize;
    margin: 16px 0;
    margin-bottom: 0;
}