<h1 mat-dialog-title class="delete-mat-dialog-title" ><mat-icon>warning</mat-icon>{{ 'confirm' | translate }}</h1>
<div mat-dialog-content>
  
  <p>{{ 'delete-confirmation-msg' | translate }}</p>

</div>
<div style="justify-content: space-around; display: flex; margin-top:1em;">
  <button class="mat-raised-button cancel-btn" (click)="onNoClick()">{{ 'cancel' | translate }}</button>
  <button class="mat-raised-button delete-btn" btn-danger (click)="onDeleteClick()">{{ 'delete' | translate }}</button>
</div>